extends ../layouts/layout

block content
  .login-form
    form(action='/admin/login', method='post')
      h1 Login
      div
        input(type='text', name='username', placeholder='Username')
        input(type='password', name='password', placeholder='Password')
      div
        input(type='submit', value='Log In')
        a(href='/') cancel